.env
/coverage/*
configuration.cnf
private-key.pem
certificate.pem
/ssl/*

/log/*

/db/dev.sqlite3
/db/test.sqlite3

db/*.sqlite3


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
